.circle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 240px;
  height: 240px;

  background-color: lightgreen;
  border-radius: 50%;

  transition: background-color 500ms 100ms ease-in-out,
    border-radius 500ms 100ms ease-in-out;
}

.circle:hover {
  background-color: green;
  border-radius: 0;
}
