.triangle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 240px;
  height: 240px;

  background: linear-gradient(
      to top left,
      red,
      red 15%,
      rgba(0, 0, 0, 0) 15%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to top left,
      indigo,
      indigo 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      0deg,
      green,
      green 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0) 100%
    );

  transition: transform 1.5s ease-in-out, rotate 1.5s ease-in-out;
}

.triangle:hover {
  transform: scale(1.5, 1.5) skew(15deg, 15deg);
  rotate: 30deg;
}
