<p class="choose">Choose your figure!</p>

<ul class="figures">
  <li class="figure figure1">
    <a
      class="to-figure"
      routerLink="/square-component"
      ariaCurrentWhenActive="page"
      ><span class="label">square?</span></a
    >
  </li>
  <li class="figure figure2">
    <a
      class="to-figure"
      routerLink="/circle-component"
      ariaCurrentWhenActive="page"
      ><span class="label">circle?</span></a
    >
  </li>
  <li class="figure figure3">
    <a
      class="to-figure"
      routerLink="/triangle-component"
      ariaCurrentWhenActive="page"
      ><span class="label">triangle?</span></a
    >
  </li>
</ul>

<div class="today">Сервис сообщает, что сегодня {{ today }}</div>
